<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1>Пользователи</h1>
<table border="1">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Age</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getName}"/>
        <td th:text="${user.getSurname}"/>
        <td th:text="${user.getAge}"/>
        <td><a th:href="@{'people/edit?id=' + ${user.getId()}}">Update</a></td>
        <td>
            <form th:method="POST" th:action="@{/people/delete?id={id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form> </a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a href="/people/new">Create new user</a>
</body>
</html>